{% extends "global/PageExt.html" %}
{% load otree static %}

{% block title %}
    Firm-Worker payments
{% endblock %}

{% block inner_content %}




    <div class="card">
        <div class="card-body text-center">

            The worker-firm revenue equals $.30, where 10 is your worker-contribution and 20 is the firm-contribution.
            The computer generates a suggested wage S. As a worker you may accept or reject the suggested wage S
            If you reject the suggested wage, you and the firm Will have 3 minutes to reach an agreement on a wage. We
            refer to the agreed upon wage as W. If you do not reach an agreement Within the 3 minutes, the suggested
            wage is implemented and the firm and the worker each pay a penalty of $5. The following box summarizes
            this information.
        </div>
    </div>

    {% include 'includes/info_block.html' %}
    <div class="my-3">
        {% next_button %}
    </div>
{% endblock %}

{% block styles %}


{% endblock %}

{% block scripts %}

{% endblock %}