{% extends "global/PageExt.html" %}
{% load otree static %}
{# TODO: delete this file later #}
{% block title %}

{% endblock %}

{% block inner_content %}
    <div class="card">
        <div class="card-body">

            <div class="my-3">
                {% if  view.start_block_page %}
                    You have randomly been assigned to be a {{ player.role }}. In each of the {{ curblock_len }} rounds
                    of
                    Block {{ subsession.block_name }}, you will be matched
                    with a participant who is assigned to be a {{ player.get_another.role }}. The performance in the
                    following task by you and the
                    {{ player.get_another.role }} will
                    secure your worker-firm pair a revenue.

                {% else %}
                    For this round {{ subsession.block_round_number }} of Block {{ subsession.block_name }}, you have
                    been matched with a
                    participant who is assigned to be a {{ player.get_another.role }}.
                    The
                    performance in the {{ subsession.get_task_type_display }} has secured your worker-firm pair a
                    revenue.
                {% endif %}
                Subsequently, the worker and firm will determine what portion of
                the
                revenue will be spent on the worker' s wage and what remaining revenue will be paid to the firm as
                profit.
            </div>
            <div class="my-3">
                The money contributed to the revenue by the firm depends on how the firm' s performance compares to that
                of a randomly selected other firm. The firm-contribution is:
            </div>
            <ul>
                {#                TODO: make these two lists based on constants #}
                <li>
                    $25 if the firm' s performance is ranked first
                </li>
                <li>
                    $20 if the firm' s performance is ranked second
                </li>
            </ul>

            <div class="my-3">
                The money contributed to the revenue by the worker depends on how the worker' s performance compares
                to those of tl.mo randomly selected workers. The worker-contribution is:
            </div>
            <ul>
                <li>
                    $20 if the worker' s performance is ranked first
                </li>
                <li>
                    $15 if the worker' s performance is ranked second
                </li>
                <li>
                    $10 if the worker' s performance is ranked third
                </li>
            </ul>

        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>
{% endblock %}

{% block styles %}


{% endblock %}

{% block scripts %}

{% endblock %}