{% extends "global/PageExt.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block inner_content %}



    <div class="alert alert-danger " role="alert">
        <strong>Correct answer (FOR DEBUG ONLY):::</strong> <span class="correct-answer"></span>
    </div>
    <div>
        {% if subsession.task_type == 1 %}
            <h3>What is the sum of these numbers</h3>
            <div class="row">
                {% for i in  num_digits %}
                    <div class="square rounded align-middle pagination-centered">
                        <div class="content numbers d-flex align-items-center justify-content-center">

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if subsession.task_type == 2 %}
            <h3>How many zeroes are in the table?</h3>
            <table class="table table-sm border" id="task2">
                <tbody>

                </tbody>
            </table>

        {% endif %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-row align-items-center">
                <div class="input-group mb-3">
                    <input type="number" id="answer" class="form-control" required name="answer"
                           min="{{ min_digits }}" max="{{ max_digits }}"
                    >
                    <div class="input-group-append">
                        <button class="answer btn btn-success" type="button">Answer</button>
                    </div>
                </div>
            </div>
            <div>Total Correct: <span class="num_correct">{{ player.num_correct }}</span></div>
            <div>Total Wrong: <span class="num_incorrect">{{ player.num_incorrect }}</span></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "negotiations/js/jquery.validate.js" %}"></script>
    <script src="{% static "negotiations/js/jquery-validate.bootstrap-tooltip.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    answer: {
                        required: true,
                        number: true,
                        min:{{ min_digits }},
                        max:{{ max_digits }},
                        digits: true
                    }
                },

                tooltip_options: {
                    answer: {
                        placement: 'top',
                        html: true
                    }
                },
                onsubmit: false,
                onfocusout: false,
                onkeyup: false,
            });


        });

    </script>


    {% include 'includes/work_channel.html' %}
{% endblock %}

{% block styles %}

    <style>
        @import url(http://fonts.googleapis.com/css?family=Lato:400,900);

        .square {
            position: relative;
            width: 10%;
            padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
            margin: 1.66%;
            background-color: #1E1E1E;
            overflow: hidden;
        }

        .content {
            position: absolute;
            height: 90%; /* = 100% - 2*5% padding */
            width: 90%; /* = 100% - 2*5% padding */
            padding: 5%;

        }

        .numbers {
            font-weight: 400;
            font-family: 'Lato', verdana, sans-serif;
            font-size: 40px;
            color: white;
        }
    </style>
{% endblock %}


