<div class="form-row">
    <div class="form-group col-md-6 form-inline">
        <label for="price" class="mr-3">Price:</label>

        <input type="number" class="form-control" id="price" placeholder=""
               {% if no_slots_or_funds|default:None %}readonly{% endif %}
               name="price">
    </div>
    <div class="form-group col-md-6 form-inline">
        <label for="quantity_id" class="mr-3">Quantity:</label>
        <input type="number" class="form-control" id="quantity_id"
               placeholder="1" readonly name="quantity" value="1">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">

        <button type="button"
                class="btn btn-primary btn-block btn-sm"
                id="submit_statement"
                {% if no_slots_or_funds|default:None %}disabled{% endif %}
        >
            Submit {{ player.action_name }}
        </button>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <button type="button"
                class="btn btn-danger btn-block btn-sm"
                id="retract_statement"
                {% if no_statements|default:None %}disabled{% endif %}
        >Retract
            last {{ player.action_name }}
        </button>
    </div>
</div>