{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choosing difficulty level
{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <th class="text-center">Matrix size:</th>
        <th class="text-center">Fee per correct matrix:</th>
        <th  class="text-center">Your choice</th>
        </thead>
        <tbody>
        {% for i, j in data %}
            <tr>
                <td class="text-center">{{ i.get_difficulty_level }}</td>
                <td class="text-center">{{ i.get_fee }}</td>
                <td class="text-center">{{ j.tag }}</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}


{% block styles %}
    <style>
    .form-check-input{
        margin-left:0px;
    }
    </style>
{% endblock %}

