<script>
    $(function () {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/auction_channel/{{ player.id }}/{{ group.pk }}";
        var socket = new ReconnectingWebSocket(ws_path);

        var role = "{{ player.role }}";
        var player_pk = "{{ player.pk }}";
        var last1 = " <br> ";
        var last2 = " <br> ";
        var last3 = " <br> ";
        var last4 = " <br> ";


        function movefunction(message) {
            $('span#message1').html(message);
            $('span#message2').html(last1);
            $('span#message3').html(last2);
            $('span#message4').html(last3);
            $('span#message5').html(last4);
            last4 = last3;
            last3 = last2;
            last2 = last1;
            last1 = message;
        }

        socket.onmessage = function (event) {
            var obj = jQuery.parseJSON(event.data);
            var employers_left = '{{ Constants.num_employers }}' - obj.contracts_closed;
            var workers_left = '{{ Constants.num_workers }}' - obj.contracts_closed;
            $('span#emps_left').html(employers_left);
            $('#workers_left').html(workers_left);
            if (employers_left === 1) {
                $('span#Semp').html("employer");
            }
            if (workers_left === 1) {
                $('span#Sworker').html("worker");
            }

            if (obj.last_message) {
                movefunction(obj.last_message);
            }

            if (obj.day_over) {
                $('#form').submit();
                return;
            }
            if (obj.closed_contracts) {
                var closed_contracts = obj.closed_contracts;
                $.each(closed_contracts, function (key, value) {
                        console.log('EMPLOYER ID:: ' + value.employer_id);
                        if (role === 'employer' && parseInt(value.employer_id) === parseInt(player_pk)) {
                            $('#form').submit();
                            return;
                        }
                        else if (role === 'worker' && parseInt(value.worker_id) === parseInt(player_pk)) {
                            $("span#taken").empty();
                            $('#form').submit();
                            return;
                        }
                        if (obj.already_taken) {
                            $("span#taken").html("<b>  The offer you tried to accept has just been changed or accepted by another participant.. </b>");
                            $("#test").val("");
                        }
                    }
                );
            }

            if (obj.active_contracts) {
                var active_contracts = obj.active_contracts;
                $('div#active_offers').empty();
                $.each(active_contracts, function (key, value) {
                    $to_add = '<span class="badge open_contract offer" data-pk="' + value.pk + '" data-amount="' + value.amount + '">' + value.amount + '</span>';
                    $('div#active_offers').append($to_add);
                });
                var any_values = 0;
                $.each(active_contracts, function (key, value) {
                    if (Number(value.amount) === Number($("#test").val())) {
                        any_values += 1;
                    }
                });
                if (any_values === 0) {
                    $("#test").val("");
                    // Removed all... didn't want that....
                }
                // active contracts looks for example: 'active_contracts': '[{"pk": 2, "amount": 45}]'
            }
        };
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        {% if player.role == "employer" %}
            $("button.offer").on("click", function () {
                create_or_update_contract($(this).data('offer'));
                $("#standing_offer").html($(this).data('offer'));
                console.log('offer clicked');
            });

            create_or_update_contract = function (amount) {
                var msg = {
                    role: role,
                    player_pk: player_pk,
                    wage_offer: amount
                };
                console.log("creating...");
                if (socket.readyState === WebSocket.OPEN) {
                    console.log('offer sent');
                    socket.send(JSON.stringify(msg));
                }
            };
        {% else %}
            var player_key;


            $(document).on('click', '.open_contract', function () {
                $("#test").val( $(this).data('amount') );
                player_key = $(this).data('pk');
                $("#subbutton").prop("type", "button");
            });
            $("#subbutton").on('click', function () {
                if ($("#test").val() > 0) {
                    accept_a_contract(player_key);
                }
            });
            accept_a_contract = function (contract) {
                var msg = {
                    role: role,
                    player_pk: player_pk,
                    wage_accepted: $("#test").val(),
                    contract_to_accept: contract
                };
                if (socket.readyState === WebSocket.OPEN) {
                    socket.send(JSON.stringify(msg));
                    }
            };
        {% endif %}


        function curtime() {
            return (new Date().getTime());
        }
    })
</script>