
{% load otree %}
    <p>The standing wage offers are: <span id="taken" style="color:darkred"></span> </p>
    <div id="active_offers" style="margin: 0 10px 0 10px;">
        {% if active_contracts %}
            {% for contract in active_contracts %}
                <span  class='badge open_contract offer' data-pk={{ contract.pk }} data-amount={{ contract.amount }}> {{ contract.amount }}</span>
            {% endfor %}
        {% else %}
            <b>There are no standing offers</b>
        {% endif %}
    </div>


<style>
    .open_contract{
        cursor: pointer!important;
        font-size: medium;
    }
</style>