{% extends "auctionone/include/Page.html" %}
{% load otree %}

{% block title %}
    Auction stage {{ player.round_number }}
{% endblock %}

{% block content %}
    <table width="100%">
    <tr>
    <td>
<div class="instructions well well-lg" style="height: 220px">
<p>
There are <b><span id="emps_left">{{ Constants.num_employers |json }}</span></b>
    <span id="Semp">employers</span> and <b><span id="workers_left">{{ Constants.num_workers |json }}</span> </b>
    <span id="Sworker">workers</span> left in the market.
</p>

<p>
To accept an offer, click one of the offers available and then click the Accept-button.
The "Accept" button will appear after an offer has been clicked. </p>
    <div id="otree-timeout"><p>Time remaining in the auction:
        <span id="otree-timer__time-left"></span></p></div>

</div>
    </td>
            <td width="42%">
                <div class="instructions well well-lg" style="background: #ecf2f9; height: 220px;">
            <table align="top-left" style="color: steelblue">

                <tr> <th  align="top-left"> The last five events </th> </tr>

                <tr> <td><span id="message1"> <br> </span></td></tr>
                <tr> <td><span id="message2"> <br> </span></td></tr>
                <tr> <td><span id="message3"> <br> </span></td></tr>
                <tr> <td><span id="message4"> <br> </span></td></tr>
                <tr> <td><span id="message5"> <br> </span></td></tr>
            </table>
                </div>
    </tr>
    </table>

<br>
{% include 'auctionone/include/open_contracts_block.html' %}
<div>
<form><br>

    <p>To accept an offer,click one of the offers available and then click "Accept". <br>

        <input id="test" type="number" value="" readonly class="offer" style="background-color:white">
        <input id="subbutton" type="hidden" value="Accept" class="offer" >
</form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src= "{% static "auctionone/js/jquery.countdown.js" %}" ></script>
    {% include 'auctionone/include/js_vars_for_auction_block.html' %}
{% endblock %}
