{% extends "global/Page.html" %}

{% load otree %}

{% block title %}
    Risultati della fase assunzioni {{ player.round_number }}
{% endblock %}

{% block content %}
    <p style="margin-left: 40px"> <i>  La fase di assunzione è terminata.
        Risultato: {{ group.num_contracts_closed |json }} <span id="scon">lavoratori </span> sono stati assunti
        con i seguenti salari: {{ group.wage_list }}.
        In questo round, <span id="emps_unmatched"> </span> <span id="semps">datori di lavoro</span>
        e <span id="workers_unmatched"> </span> <span id="sworks"> lavoratori </span> sono senza contratto. </i> </p>


{% if player.matched == 1 %}
    <p> <b>Hai assunto un lavoratore</b> con il salario di  <b>{{ player.wage_offer }}</b>.
{% else %}
    <p> Non hai assunto un lavoratore. </p>
{% endif %}

    <p> Nella prossima fase, tutti gli assunti avranno 5 minuti per lavorare. <br></p>

    <p> <button class="otree-btn-next btn btn-primary next-button otree-next-button">Successivo</button> </p>
{% endblock %}

{% block scripts %}
<script>

    window.onload = function () {
        var emps_un = {{ Constants.num_employers|json }} - {{ group.num_contracts_closed|json }};
        $("span#emps_unmatched").html(emps_un);
        if (emps_un === 1) {
            $("span#semps").html("datore di lavoro");
        }
        var workers_un = {{ Constants.num_workers|json }} - {{ group.num_contracts_closed|json }};
        $('span#workers_unmatched').html(workers_un);
        if (workers_un === 1) {
            $("span#sworks").html("lavoratore");
        }
        if (1 === {{ groups.num_contracts_closed|json }}) {
            $("span#scon").html("lavoratore è stato assunte");
        }
    };
</script>
{% endblock %}
