{% extends "auctionone/include/Page.html" %}
{% load otree %}

{% block title %}
    Effort task instructions
{% endblock %}

{% block content %}
<p> The task is to <b>find the largest number in the box on the right and largest number in the box on the left</b>
    and then to <b>sum them together</b>.
    Write the answer to the box underneath, and then submit it.
</p>


<p>
 You have <b>5 minutes</b> to work on <b> at maximum {{ Constants.max_task_amount }} tasks</b>.
 </p>

<p>
 When you are ready, click next to start the working phase.
    </p>

<p> <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button> </p>

{% endblock %}
