{% extends 'auctionone/include/WaitPage.html' %}

{% load otree %}
{% block title %}
    Please wait
{% endblock %}
{% block content %}
    <head>
        <style>
            th, td {
                padding: 3px 5px 3px 5px;
            }
            table#box1 {
                background-color: #ecf2f9;
            }
            table#box2 {
                background-color: #ecf2f9;
            }
            .box-heading {
            background-color: steelblue;
            color: white;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 24px;
            }
            .table-borders {
            border: solid;
            border: steelblue;
            background-color: #ecf2f9;
            align-content: center;
            }
        </style>
    </head>
    {% if player.role == "worker" and player.matched == 1 %}
    {% else %}
        <div class="otree-timer alert alert-warning">
        <div id="otree-timeout">Time remaining in the working phase (approximately):
            <span class="glyphicon glyphicon-time"></span>
        <span id="otree-timer__time-left"></span></div>
        </div>

    {% endif %}

    {% if player.matched == 0 and player.role == "employer" %}
        <p>
        The hired workers have now 5 minutes to work on the effort tasks.
        You have not hired a worker,  please, wait for the round to end.
        </p>

    {% elif player.matched == 0 and player.role == "worker" %}
        <p>
        The hired workers have now 5 minutes to work on the effort tasks.
        You have not been hired this round, please wait for the round to end. </p>
    {% elif player.matched == 1 and player.role == "employer" %}
        <p>
        You have hired a worker, who has now 5 minutes to work on the real effort tasks. Please wait.
        </p>

        <p> While you are waiting, you can also work on the real effort task.
            This phase is going to be <b>interrupted immediately after all the workers are ready</b>.
            This waiting period (and the number of tasks completed) <b>will not have any effect on your payoff
                or the payoffs of the others</b>.
        </p>

    <h4> While waiting </h4>
    <p>
        First, <b>find the largest number in each of the two boxes</b>. Then, <b>sum them </b> together. <br>
    Incert the result in the input box below and then submit it.
    </p>

    <table style="width:100%">
        <tr>
            <th class="box-heading" > Box 1</th>
            <th></th>
            <th class="box-heading"> Box 2</th>
        </tr>
        <tr>
            <!-- NEST ANOTHER TABLE! -->
            <td class="table-borders">
                <table class="table-style" style="width:100%" id="box1">
                </table>
            </td>

            <!-- Some space -->
            <td>

            </td>
            <!-- NEST ANOTHER TABLE! -->
            <td class="table-borders">
                <table class="table-style" style="width:100%" id="box2">

                </table>
            </td>
        </tr>
    </table>

    <table>
    <tr>
        <td>
            <div>Your answer:</div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" id="answer" class="offer" style="background-color: white" required>
            <button class="answer" type="button" style="background-color: whitesmoke;
            color: navy;
            padding: 1px 10px 1px 10px;
            border: groove;
            border-color: lightsteelblue;
            font-weight: bold;
            margin: 1px;"
            >Answer</button>
        </td>
        <td>
            <span id="feedback"></span>
        </td>

    </tr>
    </table>
    <table>
    <tr>
        <td>
            Tasks attempted:
        </td>
        <td>
            <span id="tasks_attempted">{{ player.tasks_attempted }}</span>
        </td>
    </tr>
    <tr>
        <td>
            Tasks correct:
        </td>
        <td>
            <span id="tasks_correct"> {{ player.tasks_correct }}</span>
        </td>
    </tr>
    </table>



    {% elif player.matched == 1 and player.role == "worker" and player.tasks_attempted >= 10 %}
        <p>
        You have attempted to solve all of the 10 tasks. Please, wait for the reminder of the time.

    {% elif player.matched == 1 and player.role == "worker" and player.tasks_attempted < 10 %}
        <p>
        Please, wait for the other workers to finish their effort tasks.
        </p>

    {% endif %}
{% endblock %}

