{% extends "auctionone/Page.html" %}
{% load otree %}

{% block title %}
    Counting task - round {{ view.round_number }}
{% endblock %}

{% block content %}
    <div class="task-container">{{ player.get_or_create_task.html_body|safe }}</div>
    <div>Your answer is:
        <input type="number" id="answer" class="offer" style="background-color: white" required>
        <button class="answer btn btn-outline-dark" type="button" data-feedback="false">Submit</button>
        <div><span id="feedback"> </span></div>
    </div>
    <p> Tasks attempted so far: <span id="num_tasks_total">{{ player.num_tasks_total }}</span></p>
    <p> Tasks correct so far: <span id="num_tasks_correct"> {{ player.num_tasks_correct }}</span></p>
{% endblock %}

{% block scripts %}
    {% include 'auctionone/channels/work_channel.html' %}
{% endblock %}
