
.otree-title {
    background-color: steelblue;
    color: white;
    margin: 10px 0 10px 0;
    padding: 20px;
}

.otree-timer {
    background: lightsteelblue;
    color: white;
    border-color: white;
}

.otree-body {
    text-indent: each-line;
    font-size: medium;
    text-align: justify;
}

.box-heading {
    background-color: steelblue;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 8px 10px 8px 24px;
}

.table-style {
    color: black;
    margin: 10px 10px 10px 10px;
}

.table-borders {
    border: solid;
    border: steelblue;
    background-color: #ecf2f9;
    align-content: center;

}

.offer {
    background-color: whitesmoke;
    color: navy;
    padding: 1px 10px 1px 10px;
    border: groove;
    border-color: lightsteelblue;
    font-weight: bold;
    margin: 1px;
}

.otree-btn-next {
    background-color: steelblue;
    color: white;
    padding: 5px 10px 5px 10px;

}

.otree-wait-page__body {
    font-size: medium;
    color: white;
}

h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: #24435c;
}

p {
    margin-left: 10px;
}

b {
    color: darkred;
}

