{% extends "double_auction/admin/BaseDAAdmin.html" %}
{% load static %}
{% block title %}

    Contracts

{% endblock %}

{% block content %}

    {% if contracts %}
        <table class="table-hover table-striped table">
            <thead>
            <th>Session</th>
            <th>Round</th>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Seller's cost</th>
            <th>Buyer's value</th>

            </thead>
            {% for s in contracts %}
                <tr>
                    <td>
                        {{ s.bid.player.session.code }}
                    </td>
                    <td>
                        {{ s.bid.player.round_number }}
                    </td>
                    <td>
                        {{ s.ask.player.participant.code }}
                    </td>
                    <td>
                        {{ s.bid.player.participant.code }}
                    </td>
                    <td>
                        {{ s.price }}
                    </td>
                    <td>
                        {{ s.created_at }}
                    </td>
                    <td>
                        {{ s.cost }}
                    </td>
                    <td>
                        {{ s.value }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'double_auction/admin/includes/pagination_footer.html' %}
    {% else %}
        No data on contracts have been found.
    {% endif %}
{% endblock %}



