{% extends "double_auction/admin/BaseDAAdmin.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if statements %}
        <table class="table-hover table-striped table">
            <thead>
            <th>Session</th>
            <th>Participant</th>
            <th>Round</th>
            <th>Price</th>
            <th>Created at</th>

            </thead>
            {% for s in statements %}
                <tr>
                    <td>
                        {{ s.player.session.code }}
                    </td>
                    <td>
                        {{ s.player.participant.code }}
                    </td>
                    <td>
                        {{ s.player.round_number }}
                    </td>
                    <td>
                        {{ s.price }}
                    </td>
                    <td>
                        {{ s.created_at }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include 'double_auction/admin/includes/pagination_footer.html' %}
    {% else %}
        No info has been found
    {% endif %}
{% endblock %}



