{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}
    Submit Report
{% endblock %}

{% block content %}
    <div class="alert alert-primary text-lg-center lead" role="alert">
        During the Live Round you correctly solved <strong>{{ player.tasks_solved }}</strong>
        puzzle{{ player.tasks_solved|pluralize }}.
    </div>


    <div>You must now submit your REPORT below.</div>

    <div>Below is a reminder of how each Player type’s earnings are determined</div>
    <ul>
        <ol>
            {% op %} Compensation: sum of all {% bps %} [ (“SOLVED” X {{ Constants.task_fee_solved }}) – (“REPORTED”
            X {{ Constants.task_fee_reported }})]
        </ol>
        <ol>
            {% if group.treatment == 'absolute' %}
                {% bp %} Compensation:  REPORTED” X {{ Constants.task_fee_reported }}

            {% else %}
                {% bp %} Compensation: {{ Constants.rel_achiever_salary }} if “REPORTED” is the greatest number of puzzles
                REPORTED by the
                {% bps %}
                {{ Constants.rel_low_salary }} if “REPORTED” is not the greatest number of puzzles REPORTED by the
                {% bps %}
            {% endif %}


        </ol>
    </ul>

    <div>If the
        {% op %}
        chose TO enact the REPORTING RULE, regardless of what you chose to submit, the “SOLVED”
        will
        actually be REPORTED.
    </div>

    <div>If the
        {% op %}
        chose NOT to enact the REPORTING RULE, you are able to submit a number of puzzles ranging
        from
        0 (zero) to 2 times the # SOLVED.
    </div>

    <div class="font-italic">Note: The
        {% op %}
        will not know what you submit, regardless of their REPORTING RULE
        choice.
    </div>


    <div class="form-inline align-items-center">

        <div class="mr-3">I solved</div>

        <input type="number" class="form-control mb-2 mr-sm-2 f_input" id="id_tasks_reported" name="tasks_reported"
               min="{{ min_rep }}" max="{{ max_rep }}" required>

        <div>number of puzzles</div>

    </div>





    <div>To what extent do you agree with the following statement:</div>
    <div>I would prefer that the {% op %} enact the REPORTING
        RULE?
    </div>


    {% formfield player.bp_rule_preference label='' %}


    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}

{% block styles %}
    <style>
        .f_input {
            width: 100%;
            min-width: 100px;
        }

        table td {
            border: none !important;

        }

    </style>
{% endblock %}