{% extends "global/Page.html" %}
{% load otree static  humanize phil_otree_tags %}

{% block title %}
    To Summarize STAGE 1
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h4>
                {% op %}
                Choice
            </h4>

            <div> If “YES” reporting rule: “REPORTED” = “SOLVED”
            </div>
            <div>If “NO” reporting rule: “REPORTED” can range between 0 (zero)
                and {{ Constants.max_report_coef }} times “SOLVED”
            </div>

            <h4>
                {% op %}
                Compensation:
            </h4>
            Sum of all
            {% bps %}
            [(“SOLVED” X {{ Constants.task_fee_solved }}) – (“REPORTED” X {{ Constants.task_fee_reported }})]
            <h4>
                {% bp %}
                Compensation:
            </h4>
            {% if group.treatment == 'absolute' %}

                “REPORTED” X {{ Constants.task_fee_reported }}
            {% else %}
                <div>{{ Constants.rel_achiever_salary }} if “REPORTED” is the greatest number of puzzles REPORTED by the
                    {% bps %}
                </div>
                <div>{{ Constants.rel_low_salary }} if “REPORTED” is not the greatest number of puzzles REPORTED by the
                    {% bps %}
                </div>
            {% endif %}

        </div>
    </div>





    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
