{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}
    {% op %}: play for fun or wait
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div>
                You WILL NOT be participating in the Live Round. The Live Round will last
                for {{ Constants.task_time_seconds|minutes }}.
            </div>
            <div>
                While waiting for the {% bps %} to complete the Live Round of the Decoding Task you have two options
            </div>
            <ul>
                <li>
                    You may stay on this screen and do nothing. When the Live Round is completed, you will
                    be moved to the next screen OR
                </li>
                <li>
                    You may choose to engage in another Practice Round of the Decoding Task. This practice round has NO
                    EFFECT on
                    your compensation. It is only provided as an option to pass the time while waiting for the
                    {% bps %} to complete the Live Round. If you would like to play the game, please click the button
                    below labeled “Practice”. If you choose to do this, you will be moved to the next screen when the
                    {% bps %} complete the Live Round.
                </li>
            </ul>
        </div>
    </div>




    <div class="btn-group mt-3" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-danger btn-lg" name="op_practice_while_wait" value="False">Wait</button>

        <button type="submit" class="btn btn-success btn-lg" name="op_practice_while_wait" value="True">Practice
        </button>
    </div>

{% endblock %}
