{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div>
                The {% bps %} have completed the Live Round of the Decoding Task. They are now in the process of
                submitting
                their reports.
            </div>
            <div>
                To remind you, the {% bps %} do not know if you chose to enact the REPORTING RULE when they are
                submitting their reports. The {% bps %} will be informed of your decision once they have submitted their
                reports.
            </div>
            {% if group.reporting_rule %}
                <div>
                    Since you chose TO enact the REPORTING RULE, each {% bp %}  REPORT will equal their “SOLVED”,
                    regardless of what they attempt to SUBMIT.
                </div>
            {% else %}
                <div>
                    However, since you chose NOT to enact the REPORTING RULE, each {% bp %} in your group has the
                    opportunity
                    to
                    submit a number of puzzles ranging from 0 (zero) to {{ Constants.max_report_coef }} times their “SOLVED”.
                </div>
            {% endif %}
            <div>
                Once all {% bps %} have submitted their REPORT you will proceed to the next screen.
            </div>
            <div>
                Below is a reminder of how each Player type’s earnings are determined.
            </div>
            {% if group.treatment == 'absolute' %}
                <ul>
                    <li>
                        {% bp %} Compensation: “REPORTED” X {{ Constants.task_fee_reported }}
                    </li>
                    <li>
                        {% op %} Compensation: Sum of all {% bps %} [ (“SOLVED” X {{ Constants.task_fee_solved }}) –
                        (“REPORTED” X {{ Constants.task_fee_reported }})]
                    </li>
                </ul>

            {% else %}
                <ul>
                    <li>
                        {% bp %} Compensation: {{ Constants.rel_achiever_salary }} if “REPORTED” is the greatest number of
                        puzzles REPORTED by
                        the {% bps %}
                        {{ Constants.rel_low_salary }} if “REPORTED” is not the greatest number of puzzles REPORTED by
                        the {% bps %}
                    </li>
                    <li>
                        {% op %} Compensation: Sum of all {% bps %} [ (“SOLVED” X {{ Constants.task_fee_solved }}) –
                        (“REPORTED” X {{ Constants.task_fee_reported }})]
                    </li>
                </ul>
            {% endif %}


        </div>
    </div>

    <div class="my-3">{% next_button %}</div>
{% endblock %}

