{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div>
                {% bps %} are currently participating in Stage 2 of the study.
            </div>
            <div>Their actions may increase, decrease, or
                not
                affect your earnings.
            </div>
            <div>After the {% bps %} have completed Stage 2, one of the three {% bp %} ’s will be
                randomly
                selected to have their action affect your earnings.
            </div>
            <div>When all {% bps %} have completed Stage 2 of the study, you will proceed to the next
                screen
                which
                will begin the Survey portion of the study.
            </div>
            <div>Once you have completed the survey you will learn how your compensation has been affected by Stage 2 of
                the
                study as
                well as your final earnings from the study.
            </div>
        </div>
    </div>
    <div class="my-3">{% next_button %}</div>

{% endblock %}
