{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}
    Reporting Rule Choice
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="mb-3">As the {% op %} you have the choice to enact a REPORTING RULE for this game.
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                    if you choose to enact the REPORTING RULE, the {% bp %}’s report will be the exact number of
                    puzzles they solved, regardless of what they try to submit
                    <ul>
                        <li>
                            Enact REPORTING RULE: “number REPORTED” = “number SOLVED”
                        </li>
                    </ul>
                </li>
                <li class="list-group-item ">
                    If you choose not to enact the REPORTING RULE,
                    {% bps %} are able to REPORT an amount between 0 (zero) and {{ Constants.max_report_coef }} times “number
                    SOLVED”
                    <ul>
                        <li>
                            No REPORTING RULE: “number REPORTED” can range between 0 (zero)
                            and {{ Constants.max_report_coef }} times “number
                            SOLVED”
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="mt-3">
                As a reminder, the
                {% bps %} will not be informed of your decision until after the Live Round of the Decoding
                Task is completed and after they have selected an amount to REPORT. However, you will never be informed
                of the specific amount reported by each {% bp %}.
            </div>
        </div>
    </div>


    {% for f in form %}
        {% formfield f %}
    {% endfor %}
    {% next_button %}

{% endblock %}
