{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}
    Stage 1 Results
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if player.role == 'blue' %}
                {% if group.reporting_rule %}
                    <div>The {% op %} chose to enact the REPORTING RULE</div>

                    <div>This is what you Submitted</div>

                    <div class="alert alert-primary lead text-center" role="alert">
                        <div>I solved <strong>{{ player.tasks_reported }}</strong> number of puzzles</div>
                    </div>


                    <div>The {% op %} chose to enact the REPORTING RULE, thus, this is what was REPORTED</div>

                    <div class="alert alert-info lead text-center" role="alert">
                        <div>I solved <strong>{{ player.tasks_solved }}</strong> number of puzzles</div>
                    </div>



                {% else %}
                    <div>The {% op %} chose NOT to enact the REPORTING RULE</div>

                    <div>This is what you Submitted</div>
                    <div class="alert alert-primary lead text-center" role="alert">
                        <div>I solved <strong>{{ player.tasks_reported }}</strong> number of puzzles</div>
                    </div>


                    <div>The {% op %} chose NOT to enact the REPORTING RULE, thus, this is what was REPORTED</div>

                    <div class="alert alert-info lead text-center" role="alert">
                        <div>I solved <strong>{{ player.tasks_reported }}</strong> number of puzzles</div>
                    </div>
                {% endif %}
            {% else %}


                <div>
                    The {% bps %} have now been informed of your REPORTING RULE decision.
                </div>

            {% endif %}
            <div>
                Stage 1 of the study is now complete.
            </div>
            <div>
                At this point you have earned {{ tot_so_far }} from this study.
            </div>
            <div>
                This is a combination of {{ session.config.participation_fee }} for your participation
                and {{ stage1_in_real }} from
                the outcome of Stage 1.
            </div>
            <div>
                You will now proceed to the Instructions for Stage 2 of the study.
            </div>


        </div>
    </div>


    <div class="my-3">{% next_button %}</div>

{% endblock %}
