{% extends 'otree/WaitPage.html' %}
{% load static otree %}
{% block title %}{{ title_text }}{% endblock %}
{% block content %}
    {{ body_text }}
    <p>
        The Orange Player is currently deciding whether or not to enact the REPORTING RULE

        Once the decision has been made the next screen will appear, where you will be reminded of the rules and
        procedures for the Decoding Task. After that screen you will proceed to the Live Round of the Decoding Task

        As a reminder, you will not be informed of the Orange Player’s decision until after the Live Round of the
        Decoding Task is completed and after you have selected number of puzzles you would like to submit in your report
        “REPORTED”. Please note, the Orange Player will never be informed of the specific amount you submit in your
        report.

    </p>
{% endblock %}