{% extends "global/Page.html" %}
{% load otree static phil_otree_tags %}

{% block title %}
    Decoding Task Example
{% endblock %}

{% block content %}
    <div>Stage 1 consists of a task in which you will be translating a sequence of numbers into a series of letters from
        the
        English alphabet.
    </div>

    <div>On each screen, you will see</div>
    <ol>
        <li>
            a sequence of NUMBERS
        </li>
        <li>
            a KEY indicating which LETTER represents each NUMBER
        </li>
        <li>
            a text box in which the letter solution should be typed.
        </li>
    </ol>

    <div>On each screen, a new sequence of numbers will appear along with a new key of number to letter relationships.
        Note
        that the keys will likely be different on each screen.
    </div>

    <div class="my-3">First you will participate in a practice round to become familiar with the task. All participants
        in your group
        will
        engage in this practice round, including all 3 “{% bps %}” participants and the 1 “{% op %}” participant.
        This is so you are all familiar with the ways in which an individual can succeed at the task, and so you all can
        gauge how challenging the task is.
    </div>

    <div class="my-3">After the practice round, all participants will be informed of how their bonus is determined based
        on
        performance in
        the (“Live”) round of the task.
    </div>
    <h4 class="my-3">Example:</h4>


    <div class="card">
        <div class="card-body">
            <div class="watermark rotate text-center">
                <h1>Example</h1>

            </div>
            <table class="table table-sm " id="decoding-table">
                <thead>
                <tr class="table-success">
                    <th class="text-right">Letter:</th>
                    <th class="text-left">Key:</th>
                </tr>
                </thead>
                <tbody>

                <tr>

                    <td class="text-center">m</td>
                    <td class="text-center">3</td>
                </tr>

                <tr>

                    <td class="text-center">w</td>
                    <td class="text-center">1</td>
                </tr>

                <tr>

                    <td class="text-center">j</td>
                    <td class="text-center">9</td>
                </tr>

                <tr>

                    <td class="text-center">y</td>
                    <td class="text-center">5</td>
                </tr>

                <tr>

                    <td class="text-center">u</td>
                    <td class="text-center">6</td>
                </tr>

                <tr>

                    <td class="text-center">c</td>
                    <td class="text-center">0</td>
                </tr>

                <tr>

                    <td class="text-center">q</td>
                    <td class="text-center">8</td>
                </tr>

                <tr>

                    <td class="text-center">h</td>
                    <td class="text-center">4</td>
                </tr>

                <tr>

                    <td class="text-center">v</td>
                    <td class="text-center">2</td>
                </tr>

                <tr>

                    <td class="text-center">f</td>
                    <td class="text-center">7</td>
                </tr>

                </tbody>
            </table>

            <div class="card my-3">
                <div class="card-body">
                    Task to solve:
                    <p class="lead"><span class="question">12737335</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="input-group mb-3">
                        <input type="text" id="answer" class="form-control" disabled name="answer"

                        >
                        <div class="input-group-append">
                            <button class="answer btn btn-success" type="button" disabled>Answer</button>
                        </div>
                    </div>

                    <div>Number of correct tasks: <span class="num_correct">0</span></div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="my-3">
        {% next_button %}
    </div>


{% endblock %}
{% block styles %}
    <style>

        #decoding-table {
            max-width: 150px;
            margin: 0px auto;
        }

        .watermark {
            position: absolute;
            top: 30%;
            bottom: 30%;
            z-index: 9999;
        {#            background: rgba(0, 0, 0, 0.5); /* Black background with transparency */#} color: #f1f1f1;
            width: 100%;
            padding: 20px;
            font-family: Arial;
            font-size: 27px !important;
        }

        .watermark h1 {
            font-family: Arial;
            font-size: 67px !important;
            opacity: 0.5;
            color:black;
        }

        .rotate {

            /* Safari */
            -webkit-transform: rotate(-35deg);

            /* Firefox */
            -moz-transform: rotate(-35deg);

            /* IE */
            -ms-transform: rotate(-35deg);

            /* Opera */
            -o-transform: rotate(-35deg);

        }
    </style>

{% endblock %}
